.container {
 border: 5px solid black;
 padding: 3px;
 border-radius: 20px;
 height: 500px;
 width: 1000px;
 top: 0%;
 left: 10%;
 position: absolute;
}

p{
 position: absolute;
 top: 13%;
 left: 20%;
 font-size: 25px;}

.name{
 position: absolute;
 top: 17%;
 left: 32.5%;
 width: 200px;
 height: 20px;
 }

p1{
 position: absolute;
 top: 23%;
 left: 20%;
 font-size: 25px;}

.studentnumber{
 position: absolute;
 top: 23.5%;
 left: 32.5%;
 height: 20px;
 width: 200px;
 }

.submit{
 position: absolute;
 top: 30%;
 left: 35%;}

.clear{
 position: absolute;
 top: 30%;
 left: 40%;
 }
